.login-form{
    padding-top: 10px;
    border: solid 1px grey;
    background-color: rgb(182, 176, 176);
    margin-top: 40px;
    margin-right: -2px;
}

.form-group {
    margin-bottom: 1rem;
    margin-right: 2rem;
}